
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(vecteezy_front-view-dark-silhouette-of-a-modern-sport-black-car_23977563.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header{

    padding: 0px 0; }


.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}


.logo img {
    max-width: 5em;
    user-select: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 50px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: gray;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}
.wrapper.active-popup {
    transform: scale(1);
}
.wrapper.active {
    height: 520px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0)
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: gray;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2{
    font-size: 2em;
    color: gray;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid gray;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: gray;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #ffc107;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: gray;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: gray;
    margin-right: 3px; 
}
.remember-forgot a{
    color:gray;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: gray;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: gray;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: gray;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}

.btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    background-color: gray;
    border: 2px solid gray;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.3em;
    transition: background-color 0.3s ease;
}

.btnLogin-popup:hover {
    background-color: gray;
}
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('vecteezy_fast-galloping-black-and-white-horse-casting-shadow-while_27381575.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-content {
position: absolute;
left: 50px;
bottom: 50px;
color: #fff;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 40px;
}
.cta-btn {
    width: 130px;
    height: 50px;
    background: transparent;
    background-color: gray;
    border: 2px solid gray;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.3em;
    transition: background-color 0.3s ease;
}

.cta-btn :hover {
    background-color: gray;
}